<!DOCTYPE html>
<html>
  <head>
    <title>Simple - Keep It Simple</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;900&display=swap" rel="stylesheet"> 
    <%= favicon_link_tag asset_path('simple.png') %>
  </head>
  <body>
 
  <%= render "layouts/nav" %>
   
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
    <%= yield %>

    <footer class="container-fluid text-center">
    <a href="#home" title="To Top">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <br><br>
    <a href="mailto:thomasmooney26@gmail.com" target="_blank">
      <i class="fa fa-envelope-square" aria-hidden="true"></i>
    </a>
    <a href="https://www.linkedin.com/in/thomasmooney26/" target="_blank">
      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
    </a>
    <a href="https://www.github.com/thomkiwi" target="_blank">
      <i class="fa fa-github-square" aria-hidden="true"></i>
    </a>
    <br>
    <p>&copy; All rights reserved 2019</p>
  </footer>
  </body>
</html>
