<!DOCTYPE html>
<html>
  <head>
    <title>Simple - Keep It Simple</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;900&display=swap" rel="stylesheet"> 
  </head>
  <body>
 
    <header>
      <div id="brand"><a href="/">Simple.</a></div>
      <nav>
        <ul>

        <% if user_signed_in? %>
          <li id="user"><%= current_user.email %></li>
          <li id="login"><%= button_to "Logout", destroy_user_session_path,  :method => 'delete', 'data-turbo': false %></li>
        <% else %>
        
          <li id="signup"><%= link_to "Sign Up", new_user_registration_path %></li>
          <li id="login"><%= link_to "Login", new_user_session_path %></li>
          
        <% end %>

        </ul>
      </nav>

      <div id="hamburger-icon" onclick="toggleMobileMenu(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <ul class="mobile-menu">
        <% if user_signed_in? %>
         <li id="login"><%= button_to "Logout", destroy_user_session_path, :method => 'delete' %></li>
         <% else %>
          <li id="signup"><%= link_to "Sign Up", new_user_registration_path %></li>
          <li id="login"><%= link_to "Login", new_user_session_path %></li>
          <% end %> 
        </ul>
      </div>
    </header>

    <script>
    function toggleMobileMenu(menu) {
    menu.classList.toggle('open');
    }
  </script>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
    <%= yield %>

    <footer class="container-fluid text-center">
    <a href="#home" title="To Top">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <br><br>
    <a href="mailto:thomasmooney26@gmail.com" target="_blank">
      <i class="fa fa-envelope-square" aria-hidden="true"></i>
    </a>
    <a href="https://www.linkedin.com/in/thomasmooney26/" target="_blank">
      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
    </a>
    <a href="https://www.github.com/thomkiwi" target="_blank">
      <i class="fa fa-github-square" aria-hidden="true"></i>
    </a>
    <br>
    <p>&copy; All rights reserved 2019</p>
  </footer>
  </body>
</html>
